<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <!--System TAPS-->
    <add name="ConStrTaps" connectionString="Data Source=172.24.80.31\SVSOSDB03;Initial Catalog=dbShodan;user id=maint_fpt_client;password=hello123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>