@media (min-width: 768px){
.sidebar {
 
    margin-top: 71px;
}
}
@media (max-width: 768px){
.panel-heading-index {
   zoom: 68%!important;
}
span.title{
        color: green;
    font-weight: bold;
    font-size: 13px!important;
}
}
.navbar i{
    color:green;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color:green;
    color:#fff;
}
span.title{
        color: green;
    font-weight: bold;
    font-size: 24px;
}
#page-wrapper{
    padding:0px!important;
}
a{
    color:#3f4e58;
}
.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #dff0d8!important;
    border-color: #2cc990!important;
}
.panel {
     border: none; 
     -webkit-box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset; 
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
}
.date{
    width:200px;
}