<div id="loadingParent" class="loadingParent" style="display: none;">
    <div id="loadingChild" class="loadingChild">
        <img src="~/Content/styles/images/loader_transperent.gif" id="loadingImage" alt="Loading..."/>
        &nbsp;<span id="loadingTitle">@BackendMessage.Pleasewait</span></div>
</div>

<div id="divNotifyAlert" class="loadingParent" style="display: none;">
    <div id="divNotifyAlertChild" class="loadingChild">
        <span id="divNotifyAlertTitle"></span></div>
</div>