<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">@ViewBag.Title</div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
         @Html.MvcSiteMap().SiteMapPath()
    </ol>

    <div class="clearfix"></div>
</div>
