<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RegistrationServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RegistrationServiceBinding1" />
                <binding name="LocationServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LocationServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://asl.loc-aid.com:443/ASLWS/RegistrationService"
                binding="basicHttpBinding" bindingConfiguration="RegistrationServiceBinding"
                contract="RegistrationServiceReference.RegistrationServicePortType"
                name="RegistrationServicePort" />
            <endpoint address="https://asl.loc-aid.com:443/ASLWS/LocationService"
                binding="basicHttpBinding" bindingConfiguration="LocationServiceBinding"
                contract="LocationServiceReference.LocationServicePortType"
                name="LocationServicePort" />
        </client>
    </system.serviceModel>
</configuration>