<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APIServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="APIServiceSoap1"/>
                <binding name="CredentialSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="CredentialSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.docusign.net/api/3.0/api.asmx" binding="basicHttpBinding" bindingConfiguration="APIServiceSoap" contract="API.APIServiceSoap" name="APIServiceSoap"/>
            <endpoint address="https://www.docusign.net/api/3.0/Credential.asmx" binding="basicHttpBinding" bindingConfiguration="CredentialSoap" contract="Credential.CredentialSoap" name="CredentialSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
