@model Models.Customer.CustomerModel
<div class="form-group">
    @Html.CustomLabelFor(m => m.Remark, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <p>@Html.Raw(Model.Remark.ToStr())</p>
    </div>
</div>
