@model Models.Product.ProductModel
@{
    var sessionHelper = ObjectFactory.GetInstance<ISessionHelper>();
}
@if (Model.ProductImages == null || !Model.ProductImages.Any())
{
    <div id="divImageList" class="form-group">
        <div class="col-md-4">
            <input type="file" name="fileImage1" id="fileImage1" accept="image/*" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-md-12 mt10">
             @if (sessionHelper.CanAdd(BePage.SanPham))
            {
                <button type="button" class="btn btn-info" onclick="sanPham.addNewImageClickOnEditProduct()"><i class="fa fa-plus"></i>@BackendMessage.AddNew</button>
            }
        </div>
    </div>
}