<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- MVC -->
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="true" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Site.Backend" />

  <add key="ValidatorEmailRegex" value="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />

  <add key="EnableBundleOptimizations" value="false"/>
  <add key="EnableAuthenWhiteLabel" value="true"/>
  <add key="EnableAuthenIpRestriction" value="true"/>
  
  <add key="CryptoKey" value="__samsunvina_1!#38_"/>

  <!-- Cache: asp, memcached, sharedcache -->
  <add key="CachePrefix" value="__samsunvina"/>
  <add key="CacheProvider" value="asp"/>

  <!-- By: WCF, Internal -->
  <add key="ServiceHelperBy" value="internal"/>

  
</appSettings>