<?xml version="1.0"?>
<connectionStrings>
  <add name="DbConnectionString" connectionString="Data Source=ctymaple.dyndns.info;Initial Catalog=CRM_SAMSUNVINA_MVC;User Id=hoangthanhthai;Password=Ho@ngthanhthai;" providerName="System.Data.SqlClient"/>
  <!--<add name="DbConnectionString" connectionString="Data Source=thinkpad;Initial Catalog=SamSunVina;User Id=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
