<?xml version="1.0" encoding="utf-8" ?>
<indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
  <replicatedServers>
  </replicatedServers>
  <servers>
    <add key="ml-server" ipaddress="127.0.0.1" port="48888" />
  </servers>
  <providers>
    <add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon"></add>
  </providers>
</indexusNetSharedCache>